{% extends "layout.html" %}
{% block body %}

    <main class="d-flex flex-column">
      <div class="col-8 align-self-center mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Codigo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Droga</th>
              <th scope="col">
                <select id="filter-tipos" type="text" class="form-select">
                  <option selected value="-1">Todos los tipos</option>
                </select>
              </th>
              <th scope="col">
                <select id="filter-inicial" type="text" class="form-select">
                  <option selected value="-1">Todos</option>
                </select>
              </th>
            </tr>
          </thead>
          <tbody id="filas"></tbody>
          <thead>
            <tr>
              <td class="col-1"><a id="agregar" class="btn btn-primary w-100" required>Agregar</a></td>
              <th class="col-2"><input id="codigo" type="text" class="form-control" required></th>
              <td class="col-2"><input id="nombre"type="text" class="form-control" required></td>
              <td class="col-2"><input id="droga" type="text" class="form-control" required></td>
              <td class="col-2">
                <select id="form-tipos" type="text" class="form-select"></select>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </main>

{% endblock %}
