<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Farmacia</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand">
            Farmacia
          </a>
          <a class="navbar-brand" href="{{ url_for( 'medicamentoList') }}">
            Medicamentos
          </a>
        </div>
      </nav>
    </header>

    <main class="d-flex flex-column">
      <div class="col-8 align-self-center mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody id="filas_tipo"></tbody>
          <thead>
            <tr>
              <td class="col-1"><a id="agregar_tipo" class="btn btn-primary w-100" required>Agregar</a></td>
              <th class="col-2"><input id="nombre_tipo" type="text" class="form-control" required></th>
            </tr>

          </thead>
        </table>
      </div>
    </main>

    <footer class="p-4 text-center w-100 bg-primary text-white fixed-bottom"><h5>@Copyright</h5></footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
    <script src="{{ url_for('static', filename='tipoList.js') }}"></script>
  </body>
</html>